@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  color: var(--text);
}

:root {
  --font: "Noto Sans Mono", monospace;
  --bg: #000000;
  --bg-accent: #1b1b1b;
  --bg-highlight: #747474;
  --border-radius: 7.5px;
  --text: #ffffff;
  --success-green: #21b40b;
  --error-red: #e01212;
  --highlight-yellow: #ffc700;
  --placeholder-color: #7a7a7a;
}

body {
  background-color: rgba(30, 135, 255, 0.137);
}
#app {
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  overflow: hidden;
  width: 1000px;
  height: 700px;
}

.hy {
  color: var(--highlight-yellow);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input:focus {
  outline: none;
}

button:hover,
input[type="button"]:hover {
  cursor: pointer;
}

.container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#overlays,
#snackbars {
  position: absolute;
  height: 100%;
  width: inherit;
  top: 0;
}

#snackbars {
  display: flex;
  justify-content: center;
  z-index: -1;
}

#snackbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  padding: 1rem 2rem;
  color: var(--text);
  background: var(--bg);
  min-width: 50%;
  max-width: 80%;
  margin: 0 auto;
  top: 1rem;
  transition: transform 300ms ease-in-out;
}

#snackbar.closeState {
  transform: translateY(-50%) scaleY(0);
}

#alert,
#dialog {
  font-family: var(--font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  color: var(--text);
  background: var(--bg);
  border-top: solid 2px var(--bg-highlight);
  width: 100%;
  margin: 0 auto;
  height: 5rem;
  bottom: 0;
  transition: transform 300ms ease-in-out;
}

#alert.closeState,
#dialog.closeState {
  transform: translateY(50%) scaleY(0);
}

.conv-container {
  margin-top: 1rem;
}

#close-button,
.close-button {
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  background: url("/icons/close.svg");
  font-family: var(--font);
  top: 1rem;
  right: 2rem;
  position: absolute;
  font-size: 20px;
  border: none;
  color: var(--text);
}

#snackbar > #close-button {
  position: static;
}

.icon-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: var(--border-radius);
}

.icon-button:hover {
  background: var(--bg-accent);
}

.icon-button:disabled {
  opacity: 0.5;
}

.icon-button:disabled:hover {
  background: none;
}

.icon-button__icon {
  width: 1rem;
  height: 1rem;
}

.icon-button__text {
  font-family: var(--font);
  margin: 0 0.5rem;
  color: white;
  font-size: 1rem;
}

.button-set {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

/* Dialog Styles */

.control-container {
  display: flex;
  width: 35%;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
}

.control-container > span {
  font-size: 1rem;
  margin: 0.75rem 0;
  color: var(--highlight-yellow);
}

#dialog {
  display: block;
  height: 16rem;
}
.question-container {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.question-container > img,
.response-container > img {
  width: 3.5rem;
}

.question-container > p {
  width: 50%;
  text-align: left;
  padding: 0.75rem;
  background-color: var(--bg-accent);
  border-radius: var(--border-radius);
  margin: 1rem 2rem;
}

.question-container:nth-child(2) {
  justify-content: flex-end;
}

.response-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
}

.response__input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius);
  background: var(--bg-accent);
  padding: 0.5rem;
  position: relative;
}

.response__input-container > span {
  margin: 0 1rem 0 0.5rem;
  font-size: 1.5rem;
}

.response__input-container > .error-icon {
  position: absolute;
  right: 1rem;
}

.response__input-box {
  border: none;
  background: var(--bg-accent);
  padding: 0.25rem;
  color: var(--text);
  caret-color: var(--text);
  font-size: inherit;
  font-family: var(--font);
}

.response__input-box::placeholder {
  color: var(--placeholder-color);
  font-family: var(--font);
}

.response__next-btn {
  border: none;
  border-radius: var(--border-radius);
  background: var(--highlight-yellow);
  color: var(--bg);
  margin: 0 1rem;
  font-size: 1rem;
  padding: 0.75rem 1.2rem;
  font-family: var(--font);
}

.response__next-btn:disabled {
  background: var(--bg-highlight);
}

.button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-group > button {
  border-radius: var(--border-radius);
  padding: 0.6rem 1.2rem;
  border: solid 1px var(--bg-highlight);
  color: var(--text);
  font-size: 1rem;
  margin: 0.5rem;
  background: none;
}
.button-group > button:hover {
  background: var(--bg-highlight);
}
.button-group > img {
  width: 3.5rem;
}

.avatar-picker__container,
.popup-container {
  position: absolute;
  padding: 3rem 2rem;
  background-color: var(--bg);
  border-radius: var(--border-radius);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 70%;
  gap: 2rem;
  transition: transform 300ms ease-in-out;
}
.popup-container.closeState {
  transform: scale(0);
}

.right-arrow {
  transform: rotate(180deg);
  cursor: pointer;
}

.left-arrow {
  cursor: pointer;
}

.img-preview {
  width: 7rem;
}

.avatar-picker__details {
  color: var(--text);
  text-align: left;
  font-weight: normal;
}

.avatar-picker__details > h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.avatar-picker__details > h2 {
  margin-bottom: 0.5rem;
  color: var(--highlight-yellow);
  font-size: 1rem;
}

.avatar-picker__details > h3 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.avatar-picker__details > button {
  border: none;
  border-radius: var(--border-radius);
  color: var(--bg);
  background: var(--highlight-yellow);
  padding: 0.6rem 1rem;
  font-weight: 800;
  font-size: 1rem;
}

.bg-disabled {
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 2;
  background: var(--bg-highlight);
  opacity: 0.7;
}

.shop-container {
  color: var(--text);
  text-align: left;
}
.shop-container > h1 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.shop-container > h2 {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.shop__item-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-height: 15rem;
  overflow-y: scroll;
}

.shop-item__container {
  position: relative;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background 100ms ease-in-out;
}

.shop-item__container:hover {
  background: var(--bg-highlight);
}

.shop-item__container > img {
  width: 80%;
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;
}

.item-details__container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: inherit;
  border-radius: inherit;
}

.item-details__container > img {
  display: inline-block;
  width: 100%;
  transform: scale(0.8);
}

.item-text__container {
  text-align: left;
}

.item-text__container > h1 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
}

.item-text__container > h2 {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
}

.item-text__container > p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.item-text__container > .flex-center {
  width: 30%;
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
}

.item-text__container button {
  padding: 0 0.5rem;
  /* width: 2rem; */
  color: var(--bg);
  background: var(--highlight-yellow);
  border: none;
  font-size: 1.25rem;
  border-radius: var(--border-radius);
}

.item-text__container > button {
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
}

.game-frame {
  width: 100%;
  height: 80vh;
}
